@{
  Layout = "_Layout";
}

<div  class="jumbotron">
  <form action="/angle" method="post">
    <label for="hour">Hour</label>
    <input type="text" name="hour" class="form-control">
    <label for="minute">Minute</label>
    <input type="text" name="minute" class="form-control">
    <button type="submit"> Submit</button>
  </form>
</div> 
